#!/bin/zsh

# ZSH_PREFS_USER=${USERNAME}

# necessary to get prompt themes loaded
ZSH_THEME=rsbox
uselib themes

## disable some standard parts of Dotto, if you prefer
## the following prevents Dotto from loading 
## $DOTTODIR/zsh/zshrc.d/dottocomps.zsh and any init file
## named ohmyzsh.zsh, whether it's in zprofile.d, zshrc.d, etc.
#
# dotto_disabled_components=(zshrc/dottocomps ohmyzsh)
#

###############
# Feel free to delete the stuff below; it's just an example of the sorts
# of stuff you might set here

export EDITOR=vi

bindkey -me 2>/dev/null

export LESS="efiMqR"
export PAGER=less

HISTSIZE=500

# set up terminal defaults	
stty echoe susp ^z intr ^c lnext undef kill undef werase undef start undef stop undef erase '^?'

# ZSH options
setopt nolistbeep autolist nonomatch sh_word_split noclobber
unsetopt menucomplete

# Speed stuff.
setopt AUTO_CD
setopt MULTIOS
setopt CDABLEVARS


