#!/bin/zsh

# ZSH_PREFS_USER=${USERNAME}

# necessary to get prompt themes loaded
ZSH_THEME=rsbox
uselib themes

### for debugging
# setopt XTRACE VERBOSE

###############

export EDITOR=vi

bindkey -me 2>/dev/null

export LESS="efiMqR"
export PAGER=less

HISTSIZE=500

# set up terminal defaults	
stty echoe susp ^z intr ^c lnext undef kill undef werase undef start undef stop undef erase '^?'

# ZSH options
setopt nolistbeep autolist nonomatch sh_word_split noclobber
unsetopt menucomplete

# Speed stuff.
setopt AUTO_CD
setopt MULTIOS
setopt CDABLEVARS


